body {background-color: whitesmoke}
img {text-align: center}
a{ text-decoration:none; color:black;}
a.pos1{
    background:#323232;
    color:white;
    position:fixed;
    left:290px;
    top:300px
}
a.pos2{
    background: #323232;
    color:white;
    position:fixed;
    left:400px;
    top:300px
}
a.pos3{
    background: #323232;
    color:white;
    position:fixed;
    left:510px;
    top:300px
}
a.pos4{
    background: #323232;
    color:white;
    position:fixed;
    left:620px;
    top:300px
}
a.pos5{
    background: #323232;
    color:white;
    position:fixed;
    left:560px;
    top:350px
}
a.pos6{
    background: #323232;
    color:white;
    position:fixed;
    left:630px;
    top:350px
}