body {background-color: whitesmoke;}
img {text-align: center}
div.div1 {
    background:#323232;
    color:white;
    position:fixed;
    left:18px;
    top:50px;
    width: 122px;
    line-height: 24px
}
a.a {
    background-color: rgb(147, 197, 75);
}
a:link {color: #FFFFFF}
a:visited {color: #FFFFFF}
a:hover {color: #FFFFFF}
a:active {color: #FFFFFF;}