body {background-color: whitesmoke}
img {text-align: center}
a.pos1{
    background: #323232;;
    color:white;
    position:fixed;
    left:250px;
    top:640px
}
a.pos2{
    background: #323232;
    color:white;
    position:fixed;
    left:385px;
    top:640px
}
a.pos3{
    background: #323232;
    color:white;
    position:fixed;
    left:436px;
    top:640px
}